@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-image: url(../public/Rectangle\ 1.png);
    /* width: 1920px;
height: 789px; */
}

.img{
    align-items: center;
    
}



:hover .boxx{
background-color: #CFEAFF;

}
